##Pandas

In [1]:
#Importing Pandas
import pandas as pd

##Pandas Series
* 1D Array
* like column in Table
* Default Index / Row Name

In [2]:
l=[1,2,3,4,5]
s=pd.Series(l)
print(s)
print(type(s))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [4]:
lst=["Awais","Bob","Charlie","Ahmad"]
ser=pd.Series(lst)
print(ser)

0      Awais
1        Bob
2    Charlie
3      Ahmad
dtype: object

In [6]:
lst1=["Awais","Bob",12,"Ahmad"]
ser1=pd.Series(lst1)
print(ser1)

0    Awais
1      Bob
2       12
3    Ahmad
dtype: object

In [13]:
#Setting Index
lst=["Awais","Bob","Charlie","Ahmad"]
ser=pd.Series(lst,index=["1st","2nd","3rd","4th"])
print(ser)

1st      Awais
2nd        Bob
3rd    Charlie
4th      Ahmad
dtype: object
1

In [10]:
#Series Operation
print(s+2)
print("\n",s**2)

0    3
1    4
2    5
3    6
4    7
dtype: int64

 0     1
1     4
2     9
3    16
4    25
dtype: int64

In [15]:
#Series From 1D Array
import numpy as np
arr=np.array([1,2,3,4,5])
ser=pd.Series(arr)
print(ser)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
#Series From Dictonary
dic={"a":[1,2],"b":(3,4),"c":5}
ser=pd.Series(dic)
#Keys will be Considered as Index name
print(ser)

a    [1, 2]
b    (3, 4)
c         5
dtype: object

In [22]:
print(ser.ndim)
print(ser.shape)
print(ser.size)

1
(3,)
3

##Pandas DataFrame
* 2 Dimensional Data Structure
* Rows and Columns(Tabular)

In [23]:
dic={"Name":["Awais","Ahmad","Ali"],"Age":[22,23,24]}
df=pd.DataFrame(dic) #Keys as Col Label
print(df)

    Name  Age
0  Awais   22
1  Ahmad   23
2    Ali   24

In [26]:
l=np.array([[1,2,3,4],[11,22,33,44]])
arrdf=pd.DataFrame(l)
print(arrdf)

    0   1   2   3
0   1   2   3   4
1  11  22  33  44
    A   B   C   D
0   1   2   3   4
1  11  22  33  44

In [31]:
#Setting Column and Row Labels(Names)
df2=pd.DataFrame(l,columns=["A","B","C","D"],index=["A","B"])
print(df2)

    A   B   C   D
A   1   2   3   4
B  11  22  33  44

In [35]:
#Getting Column and Row Names
print(df2.index)
print(df2.columns)

Index(['A', 'B'], dtype='object')
Index(['A', 'B', 'C', 'D'], dtype='object')

##Loading Data

In [39]:
#Loding From Varies File(excel,csv,json,etc)
df=pd.read_excel("pandas_practice_data.xlsx")
df
# pd.read_csv()
# pd.read_json()

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
0,1001,Ali,Male,28,Lahore,Laptop,Electronics,1,120000,2024-01-05,Card
1,1002,Ayesha,Female,24,Karachi,Mobile,Electronics,2,60000,2024-01-07,Cash
2,1003,Usman,Male,35,Islamabad,Headphones,Accessories,3,8000,2024-01-10,Card
3,1004,Sara,Female,29,Lahore,Tablet,Electronics,1,45000,2024-01-12,Online
4,1005,Ahmed,Male,41,Multan,Office Chair,Furniture,1,30000,2024-01-15,Cash
5,1006,Zainab,Female,32,Karachi,Desk,Furniture,1,55000,2024-01-18,Online
6,1007,Hassan,Male,26,Peshawar,Smart Watch,Accessories,2,25000,2024-01-20,Card
7,1008,Maryam,Female,38,Quetta,Printer,Electronics,1,40000,2024-01-22,Cash
8,1009,Bilal,Male,31,Lahore,Monitor,Electronics,2,35000,2024-01-25,Online
9,1010,Noor,Female,27,Karachi,Keyboard,Accessories,3,5000,2024-01-28,Card

In [42]:
df.size

110

In [43]:
df.ndim

2

In [44]:
df.shape

(10, 11)

In [47]:
df.columns
print(df.columns.tolist())

['Order_ID', 'Customer_Name', 'Gender', 'Age', 'City', 'Product', 'Category', 'Quantity', 'Price', 'Order_Date', 'Payment_Mode']

In [49]:
df.keys()

Index(['Order_ID', 'Customer_Name', 'Gender', 'Age', 'City', 'Product',
       'Category', 'Quantity', 'Price', 'Order_Date', 'Payment_Mode'],
      dtype='object')

In [46]:
df.index

RangeIndex(start=0, stop=10, step=1)

#Accessing/Extracting Data

In [54]:
#first 5
df.head()

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
0,1001,Ali,Male,28,Lahore,Laptop,Electronics,1,120000,2024-01-05,Card
1,1002,Ayesha,Female,24,Karachi,Mobile,Electronics,2,60000,2024-01-07,Cash
2,1003,Usman,Male,35,Islamabad,Headphones,Accessories,3,8000,2024-01-10,Card
3,1004,Sara,Female,29,Lahore,Tablet,Electronics,1,45000,2024-01-12,Online
4,1005,Ahmed,Male,41,Multan,Office Chair,Furniture,1,30000,2024-01-15,Cash

In [56]:
df.head(3)

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
0,1001,Ali,Male,28,Lahore,Laptop,Electronics,1,120000,2024-01-05,Card
1,1002,Ayesha,Female,24,Karachi,Mobile,Electronics,2,60000,2024-01-07,Cash
2,1003,Usman,Male,35,Islamabad,Headphones,Accessories,3,8000,2024-01-10,Card

In [55]:
#last five
df.tail()

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
5,1006,Zainab,Female,32,Karachi,Desk,Furniture,1,55000,2024-01-18,Online
6,1007,Hassan,Male,26,Peshawar,Smart Watch,Accessories,2,25000,2024-01-20,Card
7,1008,Maryam,Female,38,Quetta,Printer,Electronics,1,40000,2024-01-22,Cash
8,1009,Bilal,Male,31,Lahore,Monitor,Electronics,2,35000,2024-01-25,Online
9,1010,Noor,Female,27,Karachi,Keyboard,Accessories,3,5000,2024-01-28,Card

In [50]:
df["Customer_Name"]

0       Ali
1    Ayesha
2     Usman
3      Sara
4     Ahmed
5    Zainab
6    Hassan
7    Maryam
8     Bilal
9      Noor
Name: Customer_Name, dtype: object

In [109]:
df["City"]

0       Lahore
1      Karachi
2    Islamabad
3       Lahore
4       Multan
5      Karachi
6     Peshawar
7       Quetta
8       Lahore
9      Karachi
Name: City, dtype: object

In [103]:
df["Customer_Name"].values #1D array

array(['Ali', 'Ayesha', 'Usman', 'Sara', 'Ahmed', 'Zainab', 'Hassan',
       'Maryam', 'Bilal', 'Noor'], dtype=object)

In [106]:
df.Category

0    Electronics
1    Electronics
2    Accessories
3    Electronics
4      Furniture
5      Furniture
6    Accessories
7    Electronics
8    Electronics
9    Accessories
Name: Category, dtype: object

In [105]:
df.Category.values

array(['Electronics', 'Electronics', 'Accessories', 'Electronics',
       'Furniture', 'Furniture', 'Accessories', 'Electronics',
       'Electronics', 'Accessories'], dtype=object)

In [53]:
#Extracting Multiple Columns
df[["Customer_Name","City","Age"]]

  Customer_Name       City  Age
0           Ali     Lahore   28
1        Ayesha    Karachi   24
2         Usman  Islamabad   35
3          Sara     Lahore   29
4         Ahmed     Multan   41
5        Zainab    Karachi   32
6        Hassan   Peshawar   26
7        Maryam     Quetta   38
8         Bilal     Lahore   31
9          Noor    Karachi   27

iloc Method
* iloc->Index Location(Number)
* df.iloc[row_index_number,col_index_number]

In [100]:
df.iloc[:,3]

0       Ali
1    Ayesha
2     Usman
3      Sara
4     Ahmed
5    Zainab
6    Hassan
7    Maryam
8     Bilal
9      Noor
Name: Customer_Name, dtype: object

In [59]:

df.iloc[1,]

Order_ID                1002
Customer_Name         Ayesha
Gender                Female
Age                       24
City                 Karachi
Product               Mobile
Category         Electronics
Quantity                   2
Price                  60000
Order_Date        2024-01-07
Payment_Mode            Cash
Name: 1, dtype: object

In [60]:
df.iloc[0:5,]

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
0,1001,Ali,Male,28,Lahore,Laptop,Electronics,1,120000,2024-01-05,Card
1,1002,Ayesha,Female,24,Karachi,Mobile,Electronics,2,60000,2024-01-07,Cash
2,1003,Usman,Male,35,Islamabad,Headphones,Accessories,3,8000,2024-01-10,Card
3,1004,Sara,Female,29,Lahore,Tablet,Electronics,1,45000,2024-01-12,Online
4,1005,Ahmed,Male,41,Multan,Office Chair,Furniture,1,30000,2024-01-15,Cash

In [62]:
df.iloc[0:5,0:4]

   Order_ID Customer_Name  Gender  Age
0      1001           Ali    Male   28
1      1002        Ayesha  Female   24
2      1003         Usman    Male   35
3      1004          Sara  Female   29
4      1005         Ahmed    Male   41

In [64]:
df.iloc[0:5:2,]

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
0,1001,Ali,Male,28,Lahore,Laptop,Electronics,1,120000,2024-01-05,Card
2,1003,Usman,Male,35,Islamabad,Headphones,Accessories,3,8000,2024-01-10,Card
4,1005,Ahmed,Male,41,Multan,Office Chair,Furniture,1,30000,2024-01-15,Cash

In [69]:
df.iloc[1:,:4]

   Order_ID Customer_Name  Gender  Age
1      1002        Ayesha  Female   24
2      1003         Usman    Male   35
3      1004          Sara  Female   29
4      1005         Ahmed    Male   41
5      1006        Zainab  Female   32
6      1007        Hassan    Male   26
7      1008        Maryam  Female   38
8      1009         Bilal    Male   31
9      1010          Noor  Female   27

In [65]:
df.iloc[:-1,]

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
0,1001,Ali,Male,28,Lahore,Laptop,Electronics,1,120000,2024-01-05,Card
1,1002,Ayesha,Female,24,Karachi,Mobile,Electronics,2,60000,2024-01-07,Cash
2,1003,Usman,Male,35,Islamabad,Headphones,Accessories,3,8000,2024-01-10,Card
3,1004,Sara,Female,29,Lahore,Tablet,Electronics,1,45000,2024-01-12,Online
4,1005,Ahmed,Male,41,Multan,Office Chair,Furniture,1,30000,2024-01-15,Cash
5,1006,Zainab,Female,32,Karachi,Desk,Furniture,1,55000,2024-01-18,Online
6,1007,Hassan,Male,26,Peshawar,Smart Watch,Accessories,2,25000,2024-01-20,Card
7,1008,Maryam,Female,38,Quetta,Printer,Electronics,1,40000,2024-01-22,Cash
8,1009,Bilal,Male,31,Lahore,Monitor,Electronics,2,35000,2024-01-25,Online

In [67]:
#reverse order
df.iloc[::-1,]

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
9,1010,Noor,Female,27,Karachi,Keyboard,Accessories,3,5000,2024-01-28,Card
8,1009,Bilal,Male,31,Lahore,Monitor,Electronics,2,35000,2024-01-25,Online
7,1008,Maryam,Female,38,Quetta,Printer,Electronics,1,40000,2024-01-22,Cash
6,1007,Hassan,Male,26,Peshawar,Smart Watch,Accessories,2,25000,2024-01-20,Card
5,1006,Zainab,Female,32,Karachi,Desk,Furniture,1,55000,2024-01-18,Online
4,1005,Ahmed,Male,41,Multan,Office Chair,Furniture,1,30000,2024-01-15,Cash
3,1004,Sara,Female,29,Lahore,Tablet,Electronics,1,45000,2024-01-12,Online
2,1003,Usman,Male,35,Islamabad,Headphones,Accessories,3,8000,2024-01-10,Card
1,1002,Ayesha,Female,24,Karachi,Mobile,Electronics,2,60000,2024-01-07,Cash
0,1001,Ali,Male,28,Lahore,Laptop,Electronics,1,120000,2024-01-05,Card

In [71]:
#Column Reverse
df.iloc[:,::-1]

,Payment_Mode,Order_Date,Price,Quantity,Category,Product,City,Age,Gender,Customer_Name,Order_ID
0,Card,2024-01-05,120000,1,Electronics,Laptop,Lahore,28,Male,Ali,1001
1,Cash,2024-01-07,60000,2,Electronics,Mobile,Karachi,24,Female,Ayesha,1002
2,Card,2024-01-10,8000,3,Accessories,Headphones,Islamabad,35,Male,Usman,1003
3,Online,2024-01-12,45000,1,Electronics,Tablet,Lahore,29,Female,Sara,1004
4,Cash,2024-01-15,30000,1,Furniture,Office Chair,Multan,41,Male,Ahmed,1005
5,Online,2024-01-18,55000,1,Furniture,Desk,Karachi,32,Female,Zainab,1006
6,Card,2024-01-20,25000,2,Accessories,Smart Watch,Peshawar,26,Male,Hassan,1007
7,Cash,2024-01-22,40000,1,Electronics,Printer,Quetta,38,Female,Maryam,1008
8,Online,2024-01-25,35000,2,Electronics,Monitor,Lahore,31,Male,Bilal,1009
9,Card,2024-01-28,5000,3,Accessories,Keyboard,Karachi,27,Female,Noor,1010

In [68]:
df.iloc[[1,3,6,4],]

,Order_ID,Customer_Name,Gender,Age,City,Product,Category,Quantity,Price,Order_Date,Payment_Mode
1,1002,Ayesha,Female,24,Karachi,Mobile,Electronics,2,60000,2024-01-07,Cash
3,1004,Sara,Female,29,Lahore,Tablet,Electronics,1,45000,2024-01-12,Online
6,1007,Hassan,Male,26,Peshawar,Smart Watch,Accessories,2,25000,2024-01-20,Card
4,1005,Ahmed,Male,41,Multan,Office Chair,Furniture,1,30000,2024-01-15,Cash

In [72]:
df.iloc[[1,3,6,4],[2,3,5,8]]

   Gender  Age       Product  Price
1  Female   24        Mobile  60000
3  Female   29        Tablet  45000
6    Male   26   Smart Watch  25000
4    Male   41  Office Chair  30000

loc Method
* loc->Location (Column Name)
* default index name(row)

In [80]:
df.loc[0]

Order_ID                1001
Customer_Name            Ali
Gender                  Male
Age                       28
City                  Lahore
Product               Laptop
Category         Electronics
Quantity                   1
Price                 120000
Order_Date        2024-01-05
Payment_Mode            Card
Name: 0, dtype: object

In [84]:
df.loc[1,:]

Order_ID                1002
Customer_Name         Ayesha
Gender                Female
Age                       24
City                 Karachi
Product               Mobile
Category         Electronics
Quantity                   2
Price                  60000
Order_Date        2024-01-07
Payment_Mode            Cash
Name: 1, dtype: object

In [85]:
df.loc[1,"Order_Date"]

'2024-01-07'

In [90]:
df.loc[:,"Customer_Name"]

0       Ali
1    Ayesha
2     Usman
3      Sara
4     Ahmed
5    Zainab
6    Hassan
7    Maryam
8     Bilal
9      Noor
Name: Customer_Name, dtype: object

In [91]:
df.loc[:,["Customer_Name","Age","Product"]]

  Customer_Name  Age       Product
0           Ali   28        Laptop
1        Ayesha   24        Mobile
2         Usman   35    Headphones
3          Sara   29        Tablet
4         Ahmed   41  Office Chair
5        Zainab   32          Desk
6        Hassan   26   Smart Watch
7        Maryam   38       Printer
8         Bilal   31       Monitor
9          Noor   27      Keyboard

In [92]:
df.loc[1:4,["Customer_Name","Age","Product"]]

  Customer_Name  Age       Product
1        Ayesha   24        Mobile
2         Usman   35    Headphones
3          Sara   29        Tablet
4         Ahmed   41  Office Chair

##Saving File

In [111]:
# df.to_excel("practice_data.xlsx",index=False)
new_df=df[["Customer_Name","Gender","City","Age"]]
# new_df.to_csv("practice_data.csv",index=False)