In [74]:
import pandas as pd

In [75]:
df=pd.read_excel("pandas_dummy_data.xlsx")

In [76]:
df

,order_id,customer,gender,age,city,category,quantity,price,order_date,payment_mode
0,1001,Bilal,Male,35.0,Multan,Electronics,4,49843,2024-01-01,Cash
1,1002,Sara,Female,43.0,Islamabad,Electronics,1,99601,2024-01-02,Card
2,1003,Usman,Male,NaN,NaN,Accessories,4,93735,2024-01-03,Cash
3,1004,Bilal,Female,27.0,Lahore,Accessories,2,110512,2024-01-04,Online
4,1005,Ahmed,Male,53.0,Islamabad,Furniture,2,19371,2024-01-05,Online
5,1006,Hassan,Female,31.0,Peshawar,Accessories,2,80371,2024-01-06,Cash
6,1007,Usman,Female,48.0,Islamabad,Electronics,3,114472,2024-01-07,Cash
7,1008,Usman,Male,32.0,Lahore,Furniture,3,5049,2024-01-08,Online
8,1009,Bilal,Male,25.0,Peshawar,Electronics,4,34616,2024-01-09,Online
9,1010,Ayesha,Male,31.0,Karachi,Electronics,4,106727,2024-01-10,Card
10,1011,Ahmed,Male,40.0,Islamabad,Accessories,1,115893,2024-01-11,Online
11,1012,Bilal,Male,57.0,Lahore,Furniture,1,23932,2024-01-12,Card
12,1013,Ahmed,Male,38.0,Karachi,Accessories,4,32855,2024-01-13,Card
13,1014,Ahmed,Male,33.0,Karachi,Accessories,3,64434,2024-01-14,Card
14,1015,Hassan,Male,35.0,Multan,Furniture,2,75694,2024-01-15,Card
15,1016,Usman,Female,41.0,Peshawar,Electronics,4,46016,2024-01-16,Card
16,1017,Sara,Female,43.0,Islamabad,Electronics,1,10400,2024-01-17,Cash
17,1018,Hassan,Male,42.0,NaN,Furniture,3,45642,2024-01-18,Online
18,1019,Hassan,Female,58.0,Multan,Electronics,4,18151,2024-01-19,Card
19,1020,Ahmed,Female,46.0,Peshawar,Furniture,4,54407,2024-01-20,Online
20,1021,Zainab,Female,NaN,Multan,Furniture,3,69690,2024-01-21,Online
21,1022,Usman,Female,18.0,Peshawar,Accessories,4,7499,2024-01-22,Card
22,1023,Ayesha,Male,NaN,Peshawar,Furniture,3,9295,2024-01-23,Cash
23,1024,Hassan,Female,24.0,Islamabad,Accessories,2,62040,2024-01-24,Card
24,1025,Sara,Male,26.0,NaN,Electronics,3,15183,2024-01-25,Cash
25,1026,Zainab,Female,41.0,Multan,Electronics,3,32299,2024-01-26,Online
26,1027,Zainab,Female,18.0,Peshawar,Electronics,3,15874,2024-01-27,Cash
27,1028,Ayesha,Female,25.0,Islamabad,Electronics,4,119336,2024-01-28,Cash
28,1029,Hassan,Male,41.0,Islamabad,Accessories,4,35711,2024-01-29,Cash
29,1030,Sara,Female,28.0,Multan,Electronics,3,8539,2024-01-30,Online
30,1031,Usman,Male,34.0,NaN,Furniture,4,110941,2024-01-31,Online
31,1032,Ali,Female,NaN,Karachi,Furniture,1,56351,2024-02-01,Cash
32,1033,Sara,Male,NaN,Peshawar,Furniture,1,64267,2024-02-02,Cash
33,1034,Ayesha,Female,52.0,Lahore,Accessories,4,51354,2024-02-03,Card
34,1035,Zainab,Male,50.0,Peshawar,Electronics,4,5557,2024-02-04,Cash
35,1036,Usman,Male,22.0,Multan,Electronics,3,41360,2024-02-05,Card
36,1037,Sara,Female,59.0,Multan,Electronics,2,85018,2024-02-06,Cash
37,1038,Ali,Male,56.0,Multan,Accessories,4,5200,2024-02-07,Card
38,1039,Ali,Female,58.0,Multan,Furniture,1,115476,2024-02-08,Online
39,1040,Ahmed,Female,45.0,Multan,Furniture,3,71497,2024-02-09,Cash
40,1041,Ahmed,Female,24.0,Islamabad,Electronics,4,49975,2024-02-10,Cash
41,1042,Bilal,Female,26.0,NaN,Furniture,1,24357,2024-02-11,Cash
42,1043,Ayesha,Female,25.0,Multan,Furniture,1,80505,2024-02-12,Cash
43,1044,Hassan,Female,29.0,Lahore,Accessories,2,5869,2024-02-13,Card
44,1045,Sara,Female,51.0,Lahore,Accessories,3,64135,2024-02-14,Cash
45,1046,Sara,Female,50.0,Lahore,Accessories,3,53108,2024-02-15,Online
46,1047,Hassan,Female,40.0,Lahore,Accessories,2,115296,2024-02-16,Online
47,1048,Bilal,Female,41.0,Islamabad,Electronics,2,97179,2024-02-17,Cash
48,1049,Zainab,Female,54.0,Lahore,Accessories,3,93272,2024-02-18,Online
49,1050,Zainab,Male,52.0,Multan,Furniture,3,41467,2024-02-19,Cash

In [77]:
df.size

500

In [127]:
df.dtypes

name     object
email    object
city     object
dtype: object

In [78]:
df.head()

,order_id,customer,gender,age,city,category,quantity,price,order_date,payment_mode
0,1001,Bilal,Male,35.0,Multan,Electronics,4,49843,2024-01-01,Cash
1,1002,Sara,Female,43.0,Islamabad,Electronics,1,99601,2024-01-02,Card
2,1003,Usman,Male,NaN,NaN,Accessories,4,93735,2024-01-03,Cash
3,1004,Bilal,Female,27.0,Lahore,Accessories,2,110512,2024-01-04,Online
4,1005,Ahmed,Male,53.0,Islamabad,Furniture,2,19371,2024-01-05,Online

In [79]:
df.head(8)

,order_id,customer,gender,age,city,category,quantity,price,order_date,payment_mode
0,1001,Bilal,Male,35.0,Multan,Electronics,4,49843,2024-01-01,Cash
1,1002,Sara,Female,43.0,Islamabad,Electronics,1,99601,2024-01-02,Card
2,1003,Usman,Male,NaN,NaN,Accessories,4,93735,2024-01-03,Cash
3,1004,Bilal,Female,27.0,Lahore,Accessories,2,110512,2024-01-04,Online
4,1005,Ahmed,Male,53.0,Islamabad,Furniture,2,19371,2024-01-05,Online
5,1006,Hassan,Female,31.0,Peshawar,Accessories,2,80371,2024-01-06,Cash
6,1007,Usman,Female,48.0,Islamabad,Electronics,3,114472,2024-01-07,Cash
7,1008,Usman,Male,32.0,Lahore,Furniture,3,5049,2024-01-08,Online

In [80]:
df.tail()

,order_id,customer,gender,age,city,category,quantity,price,order_date,payment_mode
45,1046,Sara,Female,50.0,Lahore,Accessories,3,53108,2024-02-15,Online
46,1047,Hassan,Female,40.0,Lahore,Accessories,2,115296,2024-02-16,Online
47,1048,Bilal,Female,41.0,Islamabad,Electronics,2,97179,2024-02-17,Cash
48,1049,Zainab,Female,54.0,Lahore,Accessories,3,93272,2024-02-18,Online
49,1050,Zainab,Male,52.0,Multan,Furniture,3,41467,2024-02-19,Cash

In [81]:
df.columns

Index(['order_id', 'customer', 'gender', 'age', 'city', 'category', 'quantity',
       'price', 'order_date', 'payment_mode'],
      dtype='object')

In [129]:
df.keys()

Index(['name', 'email', 'city'], dtype='object')

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   order_id      50 non-null     int64
 1   customer      50 non-null     object
 2   gender        50 non-null     object
 3   age           45 non-null     float64
 4   city          45 non-null     object
 5   category      50 non-null     object
 6   quantity      50 non-null     int64
 7   price         50 non-null     int64
 8   order_date    50 non-null     datetime64[ns]
 9   payment_mode  50 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 4.0+ KB

Descriptive Statistics

In [83]:
df.describe()

         order_id        age   quantity          price           order_date
count    50.00000  45.000000  50.000000      50.000000                   50
mean   1025.50000  38.822222   2.780000   56187.420000  2024-01-25 12:00:00
min    1001.00000  18.000000   1.000000    5049.000000  2024-01-01 00:00:00
25%    1013.25000  28.000000   2.000000   24038.250000  2024-01-13 06:00:00
50%    1025.50000  40.000000   3.000000   52231.000000  2024-01-25 12:00:00
75%    1037.75000  50.000000   4.000000   83889.750000  2024-02-06 18:00:00
max    1050.00000  59.000000   4.000000  119336.000000  2024-02-19 00:00:00
std      14.57738  11.953107   1.093394   36706.785413                  NaN

##Working With Null Values/Missing Data

In [84]:
#Finding Null Values
# df.isna()
# df.isnull()

In [85]:
#Getting totla null values
df.isnull().sum()

order_id        0
customer        0
gender          0
age             5
city            5
category        0
quantity        0
price           0
order_date      0
payment_mode    0
dtype: int64

Working with missing Values

In [86]:
#Creating copy orignal data
df_copy=df.copy()

In [87]:
df_copy["age"].isnull().sum()

np.int64(5)

In [88]:
df_copy["age"].fillna(0)
df_copy["age"].fillna(df_copy["age"].mean())

0     35.000000
1     43.000000
2     38.822222
3     27.000000
4     53.000000
5     31.000000
6     48.000000
7     32.000000
8     25.000000
9     31.000000
10    40.000000
11    57.000000
12    38.000000
13    33.000000
14    35.000000
15    41.000000
16    43.000000
17    42.000000
18    58.000000
19    46.000000
20    38.822222
21    18.000000
22    38.822222
23    24.000000
24    26.000000
25    41.000000
26    18.000000
27    25.000000
28    41.000000
29    28.000000
30    34.000000
31    38.822222
32    38.822222
33    52.000000
34    50.000000
35    22.000000
36    59.000000
37    56.000000
38    58.000000
39    45.000000
40    24.000000
41    26.000000
42    25.000000
43    29.000000
44    51.000000
45    50.000000
46    40.000000
47    41.000000
48    54.000000
49    52.000000
Name: age, dtype: float64

In [89]:
df_copy["age"].isnull().sum()

np.int64(5)

In [90]:
#ffill->forward fill (fill with previous cell data )
df_copy["age"].ffill()
# df_copy

0     35.0
1     43.0
2     43.0
3     27.0
4     53.0
5     31.0
6     48.0
7     32.0
8     25.0
9     31.0
10    40.0
11    57.0
12    38.0
13    33.0
14    35.0
15    41.0
16    43.0
17    42.0
18    58.0
19    46.0
20    46.0
21    18.0
22    18.0
23    24.0
24    26.0
25    41.0
26    18.0
27    25.0
28    41.0
29    28.0
30    34.0
31    34.0
32    34.0
33    52.0
34    50.0
35    22.0
36    59.0
37    56.0
38    58.0
39    45.0
40    24.0
41    26.0
42    25.0
43    29.0
44    51.0
45    50.0
46    40.0
47    41.0
48    54.0
49    52.0
Name: age, dtype: float64

In [91]:
#bfill->forward fill (fill with after cell data )
df_copy["age"].bfill()

0     35.0
1     43.0
2     27.0
3     27.0
4     53.0
5     31.0
6     48.0
7     32.0
8     25.0
9     31.0
10    40.0
11    57.0
12    38.0
13    33.0
14    35.0
15    41.0
16    43.0
17    42.0
18    58.0
19    46.0
20    18.0
21    18.0
22    24.0
23    24.0
24    26.0
25    41.0
26    18.0
27    25.0
28    41.0
29    28.0
30    34.0
31    52.0
32    52.0
33    52.0
34    50.0
35    22.0
36    59.0
37    56.0
38    58.0
39    45.0
40    24.0
41    26.0
42    25.0
43    29.0
44    51.0
45    50.0
46    40.0
47    41.0
48    54.0
49    52.0
Name: age, dtype: float64

In [92]:
#Remove empty values

df_copy.dropna()

,order_id,customer,gender,age,city,category,quantity,price,order_date,payment_mode
0,1001,Bilal,Male,35.0,Multan,Electronics,4,49843,2024-01-01,Cash
1,1002,Sara,Female,43.0,Islamabad,Electronics,1,99601,2024-01-02,Card
3,1004,Bilal,Female,27.0,Lahore,Accessories,2,110512,2024-01-04,Online
4,1005,Ahmed,Male,53.0,Islamabad,Furniture,2,19371,2024-01-05,Online
5,1006,Hassan,Female,31.0,Peshawar,Accessories,2,80371,2024-01-06,Cash
6,1007,Usman,Female,48.0,Islamabad,Electronics,3,114472,2024-01-07,Cash
7,1008,Usman,Male,32.0,Lahore,Furniture,3,5049,2024-01-08,Online
8,1009,Bilal,Male,25.0,Peshawar,Electronics,4,34616,2024-01-09,Online
9,1010,Ayesha,Male,31.0,Karachi,Electronics,4,106727,2024-01-10,Card
10,1011,Ahmed,Male,40.0,Islamabad,Accessories,1,115893,2024-01-11,Online
11,1012,Bilal,Male,57.0,Lahore,Furniture,1,23932,2024-01-12,Card
12,1013,Ahmed,Male,38.0,Karachi,Accessories,4,32855,2024-01-13,Card
13,1014,Ahmed,Male,33.0,Karachi,Accessories,3,64434,2024-01-14,Card
14,1015,Hassan,Male,35.0,Multan,Furniture,2,75694,2024-01-15,Card
15,1016,Usman,Female,41.0,Peshawar,Electronics,4,46016,2024-01-16,Card
16,1017,Sara,Female,43.0,Islamabad,Electronics,1,10400,2024-01-17,Cash
18,1019,Hassan,Female,58.0,Multan,Electronics,4,18151,2024-01-19,Card
19,1020,Ahmed,Female,46.0,Peshawar,Furniture,4,54407,2024-01-20,Online
21,1022,Usman,Female,18.0,Peshawar,Accessories,4,7499,2024-01-22,Card
23,1024,Hassan,Female,24.0,Islamabad,Accessories,2,62040,2024-01-24,Card
25,1026,Zainab,Female,41.0,Multan,Electronics,3,32299,2024-01-26,Online
26,1027,Zainab,Female,18.0,Peshawar,Electronics,3,15874,2024-01-27,Cash
27,1028,Ayesha,Female,25.0,Islamabad,Electronics,4,119336,2024-01-28,Cash
28,1029,Hassan,Male,41.0,Islamabad,Accessories,4,35711,2024-01-29,Cash
29,1030,Sara,Female,28.0,Multan,Electronics,3,8539,2024-01-30,Online
33,1034,Ayesha,Female,52.0,Lahore,Accessories,4,51354,2024-02-03,Card
34,1035,Zainab,Male,50.0,Peshawar,Electronics,4,5557,2024-02-04,Cash
35,1036,Usman,Male,22.0,Multan,Electronics,3,41360,2024-02-05,Card
36,1037,Sara,Female,59.0,Multan,Electronics,2,85018,2024-02-06,Cash
37,1038,Ali,Male,56.0,Multan,Accessories,4,5200,2024-02-07,Card
38,1039,Ali,Female,58.0,Multan,Furniture,1,115476,2024-02-08,Online
39,1040,Ahmed,Female,45.0,Multan,Furniture,3,71497,2024-02-09,Cash
40,1041,Ahmed,Female,24.0,Islamabad,Electronics,4,49975,2024-02-10,Cash
42,1043,Ayesha,Female,25.0,Multan,Furniture,1,80505,2024-02-12,Cash
43,1044,Hassan,Female,29.0,Lahore,Accessories,2,5869,2024-02-13,Card
44,1045,Sara,Female,51.0,Lahore,Accessories,3,64135,2024-02-14,Cash
45,1046,Sara,Female,50.0,Lahore,Accessories,3,53108,2024-02-15,Online
46,1047,Hassan,Female,40.0,Lahore,Accessories,2,115296,2024-02-16,Online
47,1048,Bilal,Female,41.0,Islamabad,Electronics,2,97179,2024-02-17,Cash
48,1049,Zainab,Female,54.0,Lahore,Accessories,3,93272,2024-02-18,Online
49,1050,Zainab,Male,52.0,Multan,Furniture,3,41467,2024-02-19,Cash

In [93]:
#droping column wise
df_copy.dropna(axis=1)

,order_id,customer,gender,category,quantity,price,order_date,payment_mode
0,1001,Bilal,Male,Electronics,4,49843,2024-01-01,Cash
1,1002,Sara,Female,Electronics,1,99601,2024-01-02,Card
2,1003,Usman,Male,Accessories,4,93735,2024-01-03,Cash
3,1004,Bilal,Female,Accessories,2,110512,2024-01-04,Online
4,1005,Ahmed,Male,Furniture,2,19371,2024-01-05,Online
5,1006,Hassan,Female,Accessories,2,80371,2024-01-06,Cash
6,1007,Usman,Female,Electronics,3,114472,2024-01-07,Cash
7,1008,Usman,Male,Furniture,3,5049,2024-01-08,Online
8,1009,Bilal,Male,Electronics,4,34616,2024-01-09,Online
9,1010,Ayesha,Male,Electronics,4,106727,2024-01-10,Card
10,1011,Ahmed,Male,Accessories,1,115893,2024-01-11,Online
11,1012,Bilal,Male,Furniture,1,23932,2024-01-12,Card
12,1013,Ahmed,Male,Accessories,4,32855,2024-01-13,Card
13,1014,Ahmed,Male,Accessories,3,64434,2024-01-14,Card
14,1015,Hassan,Male,Furniture,2,75694,2024-01-15,Card
15,1016,Usman,Female,Electronics,4,46016,2024-01-16,Card
16,1017,Sara,Female,Electronics,1,10400,2024-01-17,Cash
17,1018,Hassan,Male,Furniture,3,45642,2024-01-18,Online
18,1019,Hassan,Female,Electronics,4,18151,2024-01-19,Card
19,1020,Ahmed,Female,Furniture,4,54407,2024-01-20,Online
20,1021,Zainab,Female,Furniture,3,69690,2024-01-21,Online
21,1022,Usman,Female,Accessories,4,7499,2024-01-22,Card
22,1023,Ayesha,Male,Furniture,3,9295,2024-01-23,Cash
23,1024,Hassan,Female,Accessories,2,62040,2024-01-24,Card
24,1025,Sara,Male,Electronics,3,15183,2024-01-25,Cash
25,1026,Zainab,Female,Electronics,3,32299,2024-01-26,Online
26,1027,Zainab,Female,Electronics,3,15874,2024-01-27,Cash
27,1028,Ayesha,Female,Electronics,4,119336,2024-01-28,Cash
28,1029,Hassan,Male,Accessories,4,35711,2024-01-29,Cash
29,1030,Sara,Female,Electronics,3,8539,2024-01-30,Online
30,1031,Usman,Male,Furniture,4,110941,2024-01-31,Online
31,1032,Ali,Female,Furniture,1,56351,2024-02-01,Cash
32,1033,Sara,Male,Furniture,1,64267,2024-02-02,Cash
33,1034,Ayesha,Female,Accessories,4,51354,2024-02-03,Card
34,1035,Zainab,Male,Electronics,4,5557,2024-02-04,Cash
35,1036,Usman,Male,Electronics,3,41360,2024-02-05,Card
36,1037,Sara,Female,Electronics,2,85018,2024-02-06,Cash
37,1038,Ali,Male,Accessories,4,5200,2024-02-07,Card
38,1039,Ali,Female,Furniture,1,115476,2024-02-08,Online
39,1040,Ahmed,Female,Furniture,3,71497,2024-02-09,Cash
40,1041,Ahmed,Female,Electronics,4,49975,2024-02-10,Cash
41,1042,Bilal,Female,Furniture,1,24357,2024-02-11,Cash
42,1043,Ayesha,Female,Furniture,1,80505,2024-02-12,Cash
43,1044,Hassan,Female,Accessories,2,5869,2024-02-13,Card
44,1045,Sara,Female,Accessories,3,64135,2024-02-14,Cash
45,1046,Sara,Female,Accessories,3,53108,2024-02-15,Online
46,1047,Hassan,Female,Accessories,2,115296,2024-02-16,Online
47,1048,Bilal,Female,Electronics,2,97179,2024-02-17,Cash
48,1049,Zainab,Female,Accessories,3,93272,2024-02-18,Online
49,1050,Zainab,Male,Furniture,3,41467,2024-02-19,Cash

**Duplicate Values**

In [138]:
data = {
    "order_id": [1001, 1002, 1003, 1004, 1005, 1001, 1003, 1006, 1006],
    "customer": ["Ali", "Ayesha", "Ahmed", "Sara", "Ali", "Ali", "Ahmed", "Hassan", "Hassan"],
    "city": ["Lahore", "Karachi", "Lahore", "Islamabad", "Lahore",
             "Lahore", "Lahore", "Karachi", "Karachi"],
    "category": ["Electronics", "Electronics", "Furniture", "Electronics",
                 "Electronics", "Electronics", "Furniture",
                 "Accessories", "Accessories"],
    "quantity": [1, 2, 1, 3, 1, 1, 1, 2, 2],
    "price": [50000, 60000, 30000, 45000, 50000, 50000, 30000, 15000, 15000]
}

df = pd.DataFrame(data)
df

   order_id customer       city     category  quantity  price
0      1001      Ali     Lahore  Electronics         1  50000
1      1002   Ayesha    Karachi  Electronics         2  60000
2      1003    Ahmed     Lahore    Furniture         1  30000
3      1004     Sara  Islamabad  Electronics         3  45000
4      1005      Ali     Lahore  Electronics         1  50000
5      1001      Ali     Lahore  Electronics         1  50000
6      1003    Ahmed     Lahore    Furniture         1  30000
7      1006   Hassan    Karachi  Accessories         2  15000
8      1006   Hassan    Karachi  Accessories         2  15000

In [95]:
#detecting Duplicate values
df[df.duplicated()]

   order_id customer     city     category  quantity  price
5      1001      Ali   Lahore  Electronics         1  50000
6      1003    Ahmed   Lahore    Furniture         1  30000
8      1006   Hassan  Karachi  Accessories         2  15000

In [101]:
#droping dubplicate Values
df.drop_duplicates(inplace=True)

In [99]:
df

   order_id customer       city     category  quantity  price
0      1001      Ali     Lahore  Electronics         1  50000
1      1002   Ayesha    Karachi  Electronics         2  60000
2      1003    Ahmed     Lahore    Furniture         1  30000
3      1004     Sara  Islamabad  Electronics         3  45000
4      1005      Ali     Lahore  Electronics         1  50000
7      1006   Hassan    Karachi  Accessories         2  15000

In [102]:
df.drop_duplicates().reset_index() #reseting indexes

   index  order_id customer       city     category  quantity  price
0      0      1001      Ali     Lahore  Electronics         1  50000
1      1      1002   Ayesha    Karachi  Electronics         2  60000
2      2      1003    Ahmed     Lahore    Furniture         1  30000
3      3      1004     Sara  Islamabad  Electronics         3  45000
4      4      1005      Ali     Lahore  Electronics         1  50000
5      7      1006   Hassan    Karachi  Accessories         2  15000

In [140]:
df["order_id"].value_counts()

order_id
1001    2
1003    2
1006    2
1002    1
1004    1
1005    1
Name: count, dtype: int64

**String in Pandas**

In [119]:
data = {
    "name": [
        "Ali Khan", " ayesha  ", "AHMED", "Sara Malik",
        "hassan", "Bilal Ahmed", "Ali Khan", "sara malik "
    ],
    "email": [
        "ali@gmail.com", "AYESHA@YAHOO.COM", "ahmed@hotmail.com",
        "sara@gmail.com", "hassan@gmail.com",
        "bilal@outlook.com", "ali@gmail.com", "sara@gmail.com"
    ],
    "city": [
        "Lahore", "karachi", "LAHORE", "Islamabad",
        "lahore", "Karachi", "Lahore", "islamabad"
    ]
}

df = pd.DataFrame(data)
df

          name              email       city
0     Ali Khan      ali@gmail.com     Lahore
1     ayesha     AYESHA@YAHOO.COM    karachi
2        AHMED  ahmed@hotmail.com     LAHORE
3   Sara Malik     sara@gmail.com  Islamabad
4       hassan   hassan@gmail.com     lahore
5  Bilal Ahmed  bilal@outlook.com    Karachi
6     Ali Khan      ali@gmail.com     Lahore
7  sara malik      sara@gmail.com  islamabad

In [106]:
df["city"].str.lower()

0       lahore
1      karachi
2       lahore
3    islamabad
4       lahore
5      karachi
6       lahore
7    islamabad
Name: city, dtype: object

In [107]:
df["city"].str.upper()

0       LAHORE
1      KARACHI
2       LAHORE
3    ISLAMABAD
4       LAHORE
5      KARACHI
6       LAHORE
7    ISLAMABAD
Name: city, dtype: object

In [108]:
df["city"].str.capitalize()

0       Lahore
1      Karachi
2       Lahore
3    Islamabad
4       Lahore
5      Karachi
6       Lahore
7    Islamabad
Name: city, dtype: object

In [110]:
df["email"].str.lower()

0        ali@gmail.com
1     ayesha@yahoo.com
2    ahmed@hotmail.com
3       sara@gmail.com
4     hassan@gmail.com
5    bilal@outlook.com
6        ali@gmail.com
7       sara@gmail.com
Name: email, dtype: object

In [120]:
#removing blank spaces
df["name"].str.strip()

0       Ali Khan
1         ayesha
2          AHMED
3     Sara Malik
4         hassan
5    Bilal Ahmed
6       Ali Khan
7     sara malik
Name: name, dtype: object

In [121]:
df["name"].str.split(" ")

0        [Ali, Khan]
1     [, ayesha, , ]
2            [AHMED]
3      [Sara, Malik]
4           [hassan]
5     [Bilal, Ahmed]
6        [Ali, Khan]
7    [sara, malik, ]
Name: name, dtype: object

In [122]:
df["email"].str.split("@")

0        [ali, gmail.com]
1     [AYESHA, YAHOO.COM]
2    [ahmed, hotmail.com]
3       [sara, gmail.com]
4     [hassan, gmail.com]
5    [bilal, outlook.com]
6        [ali, gmail.com]
7       [sara, gmail.com]
Name: email, dtype: object

In [123]:
df["name"].str.contains("Ali")

0     True
1    False
2    False
3    False
4    False
5    False
6     True
7    False
Name: name, dtype: bool

In [125]:
df["name"].str.contains("ali",case=False) # ignore cases (lower or capital)

0     True
1    False
2    False
3     True
4    False
5    False
6     True
7     True
Name: name, dtype: bool

In [126]:
df["name"].str.contains("Awais")

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: name, dtype: bool

In [111]:
df

          name              email       city
0     Ali Khan      ali@gmail.com     Lahore
1     ayesha     AYESHA@YAHOO.COM    karachi
2        AHMED  ahmed@hotmail.com     LAHORE
3   Sara Malik     sara@gmail.com  Islamabad
4       hassan   hassan@gmail.com     lahore
5  Bilal Ahmed  bilal@outlook.com    Karachi
6     Ali Khan      ali@gmail.com     Lahore
7  sara malik      sara@gmail.com  islamabad

In [130]:
#renaming column names
df.rename(columns={"name":"Name","email":"Email","city":"City"})

          Name              Email       City
0     Ali Khan      ali@gmail.com     Lahore
1     ayesha     AYESHA@YAHOO.COM    karachi
2        AHMED  ahmed@hotmail.com     LAHORE
3   Sara Malik     sara@gmail.com  Islamabad
4       hassan   hassan@gmail.com     lahore
5  Bilal Ahmed  bilal@outlook.com    Karachi
6     Ali Khan      ali@gmail.com     Lahore
7  sara malik      sara@gmail.com  islamabad

In [132]:
#Checking Unique Values
df["name"].unique()

array(['Ali Khan', ' ayesha  ', 'AHMED', 'Sara Malik', 'hassan',
       'Bilal Ahmed', 'sara malik '], dtype=object)

In [135]:
df["name"].value_counts()

name
Ali Khan       2
 ayesha        1
AHMED          1
Sara Malik     1
hassan         1
Bilal Ahmed    1
sara malik     1
Name: count, dtype: int64